@use 'var';

.contato {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vw;

    h1 {
        width: 70%;
        text-align: center;
        @media (max-width: 768px) {
            width: 50%;
        }
    }

    &__container {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2vw;

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 10vw;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1vw;
            transition: all .4s;
            cursor: pointer;

            &__icon{
                width: 8vw;
                height: 8vw;
                border-radius: 50%;
                background-color: var.$verdeEscuro;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 768px) {
                    height: 16vw;
                    width: 16vw;
                }

                img {
                    width: 100%;
                    max-width: 6vw;

                    @media (max-width: 768px) {
                        max-width: 11vw;
                    }
                }
            }

            h1, p {
                color: var.$verdeEscuro;
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.linkedin {
    img {
        max-width: 4.5vw;

        @media (max-width: 768px) {
            max-width: 9vw;
        }
    }
}

.mail {
    padding-bottom: 1.2vw;

    img {
        max-width: 5.5vw;
        @media (max-width: 768px) {
            max-width: 10vw;
        }
    }
}