@use 'var';

.habilidades {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5vw;

    @media (max-width: 768px) {
        align-items: center;
    } 

    &__container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 4vw;

        @media (max-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 6vw;
        }

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 11vw;
            height: 11vw;
            padding: 0.5vw;
            background-color: var.$verdeEscuro;
            border-radius: 5px;
            transition: all ease .3s;
            cursor: pointer;

            @media (max-width: 768px) {
                width: 24vw;
                height: 24vw;
                padding: 1vw;
            }

            &:hover {
                transform: scale(1.1);
            }

            h1 {
                color: var.$azulClaro;
                text-align: center;

                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }

            img {
                width: 80%;
                @media (max-width: 768px) {
                    width: 70%;
                }
            }
        }
    }
}

.sass {
    gap: .7vw;
    padding-bottom: 2vw;
}

