@use "var";

.projetos {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5vw;

  @media (max-width: 768px) {
    align-items: center;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7vw;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__card {
      width: 25.3vw;
      height: 15vw;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      transition: height 0.3s, border-bottom 0.6s, transform 0.3s;

      &:nth-child(1) {
        background-image: url("../../assets/projetos/projeto-1.png");
      }
      &:nth-child(2) {
        background-image: url("../../assets/projetos/projeto-2.png");
      }
      &:nth-child(3) {
        background-image: url("../../assets/projetos/projeto-3.png");
      }
      &:nth-child(4) {
        background-image: url("../../assets/projetos/projeto-4.png");
      }
      &:nth-child(5) {
        background-image: url("../../assets/projetos/projeto-5.png");
      }
      &:nth-child(6) {
        background-image: url("../../assets/projetos/projeto-6.png");
      }

      @media (max-width: 768px) {
        width: 84vw;
        height: 55vw;
      }

      .btn {
        font-size: 13px;

        &:hover {
          transform: scale(1);
        }
      }

      &:hover {
        height: 19vw;
        border-bottom: 4vw solid var.$verdeEscuro;
        transform: scale(1.2);

        @media (max-width: 768px) {
          height: 67vw;
          border-width: 12vw;
          transform: scale(1.05);
        }

        .data {
          opacity: 1;
          visibility: visible;
        }
        .link-site {
          opacity: 1;
          visibility: visible;
        }
        .tela-preta {
          opacity: 0;
          visibility: hidden;
        }
        .elementos {
          opacity: 0;
          visibility: hidden;
        }
      }

      .data {
        width: 10vw;
        height: 2.35vw;
        position: absolute;
        left: 0.8vw;
        bottom: -3.15vw;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.6s;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var.$branco;

        @media (max-width: 768px) {
          width: 40vw;
          left: 4vw;
          bottom: -7.3vw;
        }
      }

      .link-site {
        width: 7vw;
        height: 2.35vw;
        position: absolute;
        border-radius: 5px;
        right: 0.8vw;
        bottom: -3.15vw;
        opacity: 0;
        visibility: hidden;
        transition: opacity 3s;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: black;

        @media (max-width: 768px) {
          min-width: 30vw;
          height: 6.5vw;
          right: 4vw;
          bottom: -9.1vw;
        }
      }

      .tela-preta {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background-color: black;
        transition: opacity 1s;
      }
      .elementos {
        position: absolute;
        left: 30%;
        right: 30%;
        top: 40%;
        opacity: 1;
        transition: opacity 1s;

        p {
          text-align: center;
          color: var.$branco;
        }

        .linguagens {
          display: flex;
          justify-content: center;
          gap: 1px;
          margin-top: 5px;
          img {
            width: 100%;
            max-width: 25px;
          }
        }
      }
    }
  }
}
